@font-face {
	font-family: hemi;
	src: url('../../fonts/hemi.otf');
}

.home__stars {
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh; 
}

.home__sections {
	height: 100vh;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-family: 'Gruppo', cursive;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.home__title {
	height: 75px;
	margin: 0 auto;
}

.home__name {
	font-size: 30px;
	text-align: center;
	letter-spacing: 5px;
	font-family: hemi;
	margin-bottom: 4px;
}

.home__name span {
	opacity: 0;
	transition: all 2s ease;
}

.home__text {
	font-size: 22px;
	text-align: center;
	letter-spacing: 8px;
	line-height: 35px;
}

.home__text span {
	opacity: 0;
	transition: all 1s ease;
}

@media only screen and (min-width: 536px) {

	.home__name {
		font-size: 35px;
	}

	.home__text {
		font-size: 24px;
	}
}

@media only screen and (min-width: 600px) {

	.home__name {
		font-size: 40px;
	}

	.home__text {
		font-size: 26px;
	}
}

@media only screen and (min-width: 769px) {

	.home__name {
		font-size: 45px;
		letter-spacing: 6px;
	}

	.home__text {
		font-size: 28px;
		line-height: 38px;
		
	}
}

@media only screen and (min-width: 992px) {

	.home__name {
		font-size: 55px;
	}

	.home__text {
		font-size: 30px;
		line-height: 45px;
		letter-spacing: 9px;
	}
}

@media only screen and (min-width: 1200px) {

	.home__name {
		font-size: 60px;
	}

	.home__text {
		font-size: 33px;
		line-height: 50px;
		letter-spacing: 9px;
	}
}