@font-face {
	font-family: first-letter;
	src: url('../../fonts/hemi.otf');
}

.aboutme {
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutme::-webkit-scrollbar {
	display: none;
}

.aboutme__wrapper {
	position: relative;
	top: 1500px;
}

.aboutme__div,
.chat__div {
	width: 250px;
	font-family: 'Roboto', sans-serif;
	margin: 50px 20px 30px 20px;
	background: rgba(0, 0, 0, 0.56);
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	padding: 40px 30px 30px 30px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1.5px;
}

.about__title {
	font-family: 'sciFi';
	font-size: 20px;
	margin-bottom: 20px;
}

.chat__div {
	padding: 20px 30px 0px 30px;
	margin: 30px 20px 30px 20px;
}

.aboutme__text {
	margin-bottom: 20px;
}

.aboutme__text--mod {
	margin-bottom: 0px;
}

.has-dropcap::first-letter {
	font-family: first-letter;
	font-size: 4rem;
	line-height: 3rem;
	float: left;
	margin: 0.1em 0.1em 0 0;
	opacity: 0.8;
}

.chat__text {
	margin-bottom: 10px;
}

.chat__form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat__original {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.chat__spinner {
	height: 25px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

@media only screen and (min-width: 375px) {
	.aboutme__wrapper {
		top: 1200px;
	}

	.aboutme__div,
	.chat__div {
		width: 290px;
	}

	.has-dropcap::first-letter {
		font-size: 5rem;
	
	}
}

@media only screen and (min-width: 410px) {
	.aboutme__wrapper {
		top: 1100px;
	}
}

@media only screen and (min-width: 536px) {
	.aboutme__wrapper {
		top: 800px;
	}

	.aboutme__div,
	.chat__div {
		width: 400px;
	}
}

@media only screen and (min-width: 650px) {
	.aboutme__wrapper {
		top: 700px;
	}

	.aboutme__div {
		padding: 50px 30px 40px 30px;
		font-size: 17px;
	}

	.aboutme__div,
	.chat__div {
		width: 500px;
	}
}

@media only screen and (min-width: 993px) {
	.aboutme__wrapper {
		top: 600px;
	}

	.aboutme__div,
	.chat__div {
		width: 600px;
	}
}

@media only screen and (min-width: 1200px) {
	.aboutme__wrapper {
		top: 550px;
	}

	.aboutme__div {
		padding: 50px 40px 40px 40px;
		font-size: 18px;
	}

	.aboutme__div,
	.chat__div {
		width: 700px;
	}

	.chat__div {
		padding: 20px 40px 0 40px;
	}

	.chat__text {
		margin-bottom: 20px;
	}

	.has-dropcap::first-letter {
		font-size: 7rem;
		line-height: 4rem;
		margin: 0.1em 0.1em 0.1em 0;
	}
}
