.form {
	height: 100%;
	position: fixed;
	top: 175px;
}

.form__div {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(149, 165, 166, 0.2));
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	border-radius: 5px;
	padding: 40px 20px 30px 20px;
}

.form__form {
	display: flex;
	flex-direction: column;
}

.form__label,
.form__input {
	margin: 10px 0 0 0;
}

.form__input {
	width: 250px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	padding: 5px;
}

.form__error {
	margin-top: 5px;
	height: 20px;
	color: red;
	font-weight: bold;
	opacity: 0;
	transition: opacity 200ms ease;
}


textarea:focus,
input:focus {
	outline: none;
}

.form__btn {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.form__btn-btn {
	border: none;
	border-radius: 5px;
	color: #f5f0f0;
	background-color: #e27429;
	padding: 10px 20px 10px 20px;
	letter-spacing: 1px;
	transition: all 200ms;
}

.form__btn-btn:hover {
	cursor: pointer;
	padding: 10px 30px 10px 30px;
	border-radius: 30px;
}

@media only screen and (max-height: 768px) {
	.form {
		top: 100px;
	}
}


@media only screen and (min-width: 730px) {
	.form__div {
		padding: 40px 25px 30px 25px;
	}

	.form__input {
		width: 300px;
	}
}

@media only screen and (min-width: 992px) and ( min-height: 768px ){

	.form {
		top: 140px;
	}
	.form__div {
		padding: 40px 25px 30px 25px;
	}

	.form__label,
	.form__input {
		margin: 25px 0 0 0;
	}

	.form__input {
		width: 350px;
	}

    textarea.form__input {
        height: 80px;
    }
}

@media only screen and (min-width: 992px) { 
    .form__div {
        padding: 45px 30px 40px 30px;

    }
}
